:root{
  // Grosseur des textes
  --fz-normal: 1rem;  //16px

  // Grosseur des titres
  --fz-h1: 2.5rem; //40px
  --fz-h2: 2rem; //32px
  --fz-h3: 1.75rem; //28px
  --fz-h4: 1.5rem; //24px

  // Hauteurs de ligne
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5; //24px
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 1.2;


  // Font family
  --ff-normal: Montserrat, sans-serif;
  --ff-titres: Sarabun, sans-serif;

}